@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&family=Gowun+Batang&family=Grape+Nuts&family=Indie+Flower&family=Wallpoet&display=swap');
@import "reset.css";
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgb(110, 149, 194);
}
/* 헤더, 네비 */
header{
    width: 100%;
    height: 15%;
    position: fixed;
    top: 10px; left: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#logo {
    font: bold 35px/1 "Grape Nuts";
    color: #FF7A7A;
    text-shadow: 0px 0px 20px #FF7A7A;
}
nav{
    display: flex;
}
#gnb {
    display: flex;
}
#gnb li {
    margin: 0px 40px;
}
#gnb li a{
    font: bold 20px/1 "Vitro_core";
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px rgba(9, 9, 9, 0.5);
}
#logo:hover{
    color: rgb(255, 214, 214);
    text-shadow: 0px 0px 20px #FF7A7A;
}
#gnb li a:hover{
    color: rgb(255, 214, 214);
    text-shadow: 0px 0px 20px #FF7A7A;
}

main{
    position:relative;
    top: 180px;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#dummy1{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#dummy2{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
#dummy1 p{
    color: beige;
    font: normal 39px "Vitro_core";
    margin-bottom: 20px;
}
#before,#next{
    margin-bottom: 42px;
    line-height: 400px;
    width: 100px;
    height: 440px;
}
#pic{
    margin-bottom: 42px;
    width: 800px;
    height: 440px;
    background-color: white;
    border-radius: 60px;
}
#option{
    font: bold 30px "Vitro_core";
    text-align: center;
    line-height: 60px;
    color:beige;
    border-radius: 25px;
    height: 60px;
    width: 290px;
    background-color: rgb(41, 62, 109);
}
/*
#dummy2 li{
    list-style: none;
    float: left;
    margin: 30px;
}*/
/*li바꾸기*/
/*
@media screen and(max-width:800px) {
    #dummy2 li{
        float: none;
    }
}
/*dummy2 바꾸기*/
/*@media screen and(max-width:800px){
    #dummy2{
        display: flex;
        flex-direction: column;
    }
}*/