@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&family=Gowun+Batang&family=Grape+Nuts&family=Indie+Flower&family=Wallpoet&display=swap');
@import "./reset.css";
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    position: relative;
}

/* 헤더, 네비 */
header{
    width: 100%;
    height: 15%;
    /* 크기 보려고 임시로 해놓은 것 */
    /* background: rgba(255, 255, 255, .1); */
    position: fixed;
    top: 10px; left: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#logo {
    font: bold 35px/1 "Grape Nuts";
    color: #FF7A7A;
    text-shadow: 0px 0px 20px #FF7A7A;
}
nav, #gnb, .burger {
    display: flex;
}
#gnb li {
    margin: 0px 40px;
}
#gnb li a{
    font: bold 20px/1 "Vitro_core";
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px rgba(9, 9, 9, 0.5);
}
#gnb li:first-child a{
    color: #FF7A7A;
    animation: aa linear 2s infinite
}
@keyframes aa {
    70%{color: white;}
}
#logo:hover{
    color: rgb(255, 214, 214);
    text-shadow: 0px 0px 20px rgb(255, 122, 122);
}
#gnb li a:hover, .burger:hover{
    color: rgb(255, 214, 214);
    text-shadow: 0px 0px 20px #FF7A7A;
}
.burger {
    width: auto;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}


figure{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0px; left: 0px;
    overflow: hidden;
}
figure video{
    width: 1600px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.mid{
    position: absolute;
    left: 7%;
    top: 30%;
    transform: translate(0%);
}
.mid-intro{
    display: inline-block;
    font: italic 50px/1.5 "Vitro_core";
    color: white;
    text-shadow: 0px 0px 5px rgba(9, 9, 9, 0.5);
}
.mid-intro span{
    color: #FF7A7A;
}
.bot{
    position: absolute;
    right: 4%;
    bottom: 8%;
    transform: translate(0%);
}
.bot-install{
    display: inline-block;
    margin-bottom: 10px;
    font: italic 25px/1.5"Vitro_core";
    color: white;
    text-shadow: 0px 0px 5px rgba(9, 9, 9, 0.5);
}
.bot-install span{
    color: #FF7A7A;
}
.bot-img div {
    display: flex;
    justify-content: space-between;
}
.bot-img img{
    width: 200px;
    border-radius: 40px;
    transition: .6s;
}
.bot-img img:hover {
    filter: invert(100%);
}

/* 버거 메뉴 */
.burgermenu{
    display: none;
}
.burgermenu.on{
    /* transition: .5s; */
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    background: rgba(255, 122, 122, 0.729);
    top: 0; right: 0;
    width: 40%;
    height: 100vh;
    /* overflow-y: auto; */
}
.burgerheader{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-burger{
    width: 100%;
    display: none;
    display: block;
    transition: all .5s ease;
    display: none;
}
.close-burger.on{
    display: block;
    font-size: 24px;
    color: white;
    padding-top: 10%;
    padding-left: 10%;
    cursor: pointer;
}
.sub { 
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    justify-content: space-between;
}
.sub a{
    font: 20px/1.3 "Aboreto";
    color: aliceblue;
    letter-spacing: 2px;
}
.shadow { 
    position: fixed; 
    top: 0; right: 0; 
    width: 100%; height: 100%; 
    z-index: 90; 
    background: rgba(0, 0, 0, 0.7); 
    display: none; 
    cursor: pointer; 
}
.close-burger:hover, .sub a:hover{
    color: rgba(246, 148, 148, 0.815);
    text-shadow: 0px 0px 20px rgba(133, 133, 133, 0.716);
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: rgb(21, 20, 20); 
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer .etc{
    width: 80%;
    height: 60%;
    margin: auto;
    text-align: left;
}
footer .copyright{
    width: 80%;
    height: 40%;
    margin: auto;
    text-align: left;
}
.etc, .copyright{
    color: rgb(169, 168, 168);
    font: .9vw/2 "Arial";
    letter-spacing: 2px;
}
.copyright i{
    color: #FF7A7A;
}


@media screen and (min-width: 1600px){
    figure video{
        width: 1900px;
    }
}
@media screen and (max-width: 1024px){
    #gnb{
        display: none;
    }
    .burger{
        display: block;
    }
    figure video{
        width: 1300px;
        transform: translateX(-100px);
    }
    .mid-intro{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px){
    figure video{
        transform: translateX(-400px);
    }
    .mid-intro{
        font-size: 30px;
    }
    .bot-install{
        font-size: 18px;
    }
    .bot-img img{
        width: 150px;
    }
}
@media screen and (max-width: 400px){
    .mid-intro{
        font-size: 25px;
    }
}