<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 프리뷰 사이트 정보 -->
        <meta property="og:title" content="푸쵸(FooCho)">
        <meta property="og:description" content="뭘 먹을지 고민된다면 푸쵸~!">
    <title>FooCho : 이용 방법</title>
    <link rel="stylesheet" href="/static/css/style_foocho.css">
    <!-- 파비콘 - 임시적으로 해놓은 것. 나중에 변경예정 -->
    <link rel="icon" href="/images/temp.png">
    <script src="https://kit.fontawesome.com/a5302adcbb.js" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="/static/js/index.js"></script>

</head>
<body>
        <!-- 헤더 영역 -->
        <header>
            <div>
                <!-- 로고 -->
                <a id="logo" href="/index.html">FoodChoice</a>
                <!-- 메뉴 바 -->
                <nav>
                    <ul id="gnb">
                        <li><a href="#">이용 방법</a></li>
                        <li><a href="#">고객 센터</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="gap"></div>
        <main>
            <div>
               <!-- 작업 아직 -->
            </div>
        </main>        
</body>
</html>