<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 프리뷰 사이트 정보 -->
    <meta property="og:title" content="푸쵸(FooCho)" />
    <meta property="og:description" content="뭐 먹을지 고민될 땐, 푸쵸~!" />
    <!-- <meta property="og:image" content=""> -->
    <title>Food Choice, 푸쵸</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- 파비콘 -->
    <link rel="icon" href="/static/images/FooCho.png" />
    <script src="https://kit.fontawesome.com/a5302adcbb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="/static/js/index.js"></script>
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <div>
        <!-- 로고 -->
        <a id="logo" href="/">FoodChoice</a>
        <!-- 메뉴 바 -->
        <nav>
          <ul id="gnb">
            <li><a href="/choice/0">시작하기</a></li>
            <li><a href="#">이용 방법</a></li>
            <li><a href="#">고객 센터</a></li>
          </ul>
        </nav>
        <div class="burger">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>

    <!-- 영상 백그라운드 -->
    <figure>
      <!-- 영상 -->
      <div>
        <video
          id="home-vd"
          src="/static/images/main.mp4"
          autoplay
          loop
          muted
        ></video>
      </div>
      <!-- 타이틀 -->
      <div class="mid">
        <p class="mid-intro">
          이번 한 끼, <span>푸쵸</span>를 통해<br />
          최적의 메뉴를 찾아보세요!
        </p>
      </div>
      <!-- 앱 스토어 -->
      <div class="bot">
        <p class="bot-install">
          모바일 App으로 어디서나 <span>푸쵸</span>하세요!
        </p>
        <div class="bot-img">
          <div>
            <!-- 앱 배포 후 수정 -->
            <a href="https://www.apple.com/kr/app-store/" target="_blank"
              ><img src="/static/images/AppStore.png" alt="AppStore"
            /></a>
            <a href="https://play.google.com/store/games?hl=ko" target="_blank"
              ><img src="/static/images/PlayStore.png" alt="PlayStore"
            /></a>
          </div>
        </div>
      </div>
    </figure>

    <!-- 버거 메뉴 -->
    <div class="burgermenu">
      <div class="burgerheader">
          <div class="close-burger"><i class="fas fa-angle-right"></i></div>
      </div>
      
      <div class="sub">
          <a href="/choice/0">푸쵸 시작</a>
          <!-- <a href="#">이용 방법</a>
          <a href="#">고객 센터</a> -->
      </div>
      
      <div class="bot">
        <div class="copyright">
          &copy; 2022. <i>Foocho</i> Co. ALL RIGHTS RESERVED.</div>
        </div>
      </div>
    </div>
    <!-- 버거 메뉴 시 다른 영역 그림자 -->
    <div class="shadow"></div>

    
    <!-- 푸쵸 제작사 정보 -->
    <footer>
      <div class="etc">
        <ul>
          <li><br><br><br>※본 사이트는 CC0 작품과 라이센스를 구매한 이미지를 사용하고 있습니다.</li>
        </ul>
      </div>
      <div class="copyright">
        <ul>
          <li>&copy; 2022. <i>Foocho</i> Co. ALL RIGHTS RESERVED.</li>
          <li>회사명: 푸쵸(Foocho)</li>
          <li>대표자명: 최재영</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
